@charset "UTF-8";
@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff2") format("woff2"), url("../fonts/Lora-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #686868;
  line-height: 1;
  font-family: "OpenSans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "OpenSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding: 40px 60px;
  max-width: 900px;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}
@media (max-width: 47.99875em) {
  .popup__content {
    padding: 35px 11px;
  }
}

@media (max-width: 47.99875em) {
  .popup__display-1 {
    text-align: center;
  }
}
.popup__text {
  line-height: 141.18%;
  letter-spacing: 0.03em;
  color: #686868;
}
@media (min-width: 77.5em) {
  .popup__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__text {
    font-size: clamp( 0.75rem , 0.6630434783rem  +  0.4347826087vw , 1rem );
  }
}
@media (max-width: 20em) {
  .popup__text {
    font-size: 0.75rem;
  }
}
@media (min-width: 77.5em) {
  .popup__text {
    margin-top: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__text {
    margin-top: clamp( 0.625rem , 0.5163043478rem  +  0.5434782609vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .popup__text {
    margin-top: 0.625rem;
  }
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 77.5em) {
  .popup__form {
    margin-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__form {
    margin-top: clamp( 0.625rem , 0.4076086957rem  +  1.0869565217vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .popup__form {
    margin-top: 0.625rem;
  }
}
.popup__form .popup__name,
.popup__form .popup__tel,
.popup__form .popup__textarea {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 19px;
  width: 100%;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #000;
}
@media (min-width: 77.5em) {
  .popup__form .popup__name,
  .popup__form .popup__tel,
  .popup__form .popup__textarea {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__form .popup__name,
  .popup__form .popup__tel,
  .popup__form .popup__textarea {
    font-size: clamp( 0.625rem , 0.4945652174rem  +  0.652173913vw , 1rem );
  }
}
@media (max-width: 20em) {
  .popup__form .popup__name,
  .popup__form .popup__tel,
  .popup__form .popup__textarea {
    font-size: 0.625rem;
  }
}
.popup__form :placeholder-shown {
  color: #000;
  opacity: 0.9;
}
.popup__form .popup__name:focus,
.popup__form .popup__tel:focus,
.popup__form .popup__textarea:focus {
  outline: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.popup__form .popup__name:focus-visible,
.popup__form .popup__tel:focus-visible,
.popup__form .popup__textarea:focus-visible {
  outline: none;
}
.popup__name {
  margin-top: 10px;
}
.popup__tel {
  margin-top: 10px;
}
.popup__textarea {
  margin-top: 10px;
  height: 98px;
}
.popup__submit {
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
  display: inline-flex;
  justify-content: center;
  line-height: 1.3636363636;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.03em;
  background: #D95845;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 17px 48px;
}
@media (min-width: 77.5em) {
  .popup__submit {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__submit {
    font-size: clamp( 1rem , 0.8695652174rem  +  0.652173913vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .popup__submit {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .popup__submit {
    padding: 18px 23px;
  }
}
.popup__display-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
}
.popup__display-2 img {
  width: 251px;
  height: 251px;
}
@media (max-width: 61.99875em) {
  .popup__display-2 img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 47.99875em) {
  .popup__display-2 img {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 29.99875em) {
  .popup__display-2 img {
    width: 130px;
    height: 130px;
  }
}
.popup__thankyou {
  font-family: "Lora";
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
@media (min-width: 77.5em) {
  .popup__thankyou {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .popup__thankyou {
    font-size: clamp( 1.25rem , 0.597826087rem  +  3.2608695652vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .popup__thankyou {
    font-size: 1.25rem;
  }
}

._hide {
  display: none;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn_book-main {
  align-self: flex-start;
  display: inline-flex;
  justify-content: center;
  line-height: 1.3636363636;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.03em;
  background: #D95845;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 17px 48px;
}
@media (min-width: 77.5em) {
  .btn_book-main {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .btn_book-main {
    font-size: clamp( 1rem , 0.8695652174rem  +  0.652173913vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .btn_book-main {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .btn_book-main {
    padding: 18px 23px;
  }
}

.callback {
  box-sizing: border-box;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2F70D9;
  border: 2px solid #2F70D9;
  border-radius: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__address-title {
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #686868;
}
.contact__address-text {
  font-size: 0.75rem;
  line-height: 1.1333333333;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #686868;
  margin-top: 5px;
}
.contact__phones {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact__phone {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
}
.contact__social {
  display: flex;
  gap: 5px;
}
.contact__social_map .social {
  width: 60px;
  height: 60px;
  background-size: 30px 30px;
}
@media (max-width: 47.99875em) {
  .contact__social_map .social {
    width: 40px;
    height: 40px;
    background-size: auto;
  }
}
.contact_map {
  gap: 25px;
}
@media (max-width: 47.99875em) {
  .contact_map {
    gap: 15px;
  }
}
.contact_map .contact__adress-title {
  line-height: 140%;
}
@media (min-width: 77.5em) {
  .contact_map .contact__adress-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .contact_map .contact__adress-title {
    font-size: clamp( 1rem , 0.9565217391rem  +  0.2173913043vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .contact_map .contact__adress-title {
    font-size: 1rem;
  }
}
.contact_map .contact__address-text {
  line-height: 141.18%;
  margin-top: 10px;
  max-width: 219px;
}
@media (min-width: 77.5em) {
  .contact_map .contact__address-text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .contact_map .contact__address-text {
    font-size: clamp( 0.75rem , 0.6630434783rem  +  0.4347826087vw , 1rem );
  }
}
@media (max-width: 20em) {
  .contact_map .contact__address-text {
    font-size: 0.75rem;
  }
}
.contact_map .contact__phones {
  gap: 10px;
}
@media (max-width: 47.99875em) {
  .contact_map .contact__phones {
    gap: 5px;
  }
}
.contact_map .contact__phone {
  line-height: 1.3666666667;
}
@media (min-width: 77.5em) {
  .contact_map .contact__phone {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .contact_map .contact__phone {
    font-size: clamp( 1.25rem , 1.0326086957rem  +  1.0869565217vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .contact_map .contact__phone {
    font-size: 1.25rem;
  }
}
.contact_map .contact__social {
  gap: 30px;
}
@media (max-width: 47.99875em) {
  .contact_map .contact__social {
    gap: 5px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.social_vider {
  background-color: #C652EE;
  background-image: url("../img/viber.svg");
}
.social_watsapp {
  background-color: #A7D91A;
  background-image: url("../img/watss.svg");
}

.header-title {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  font-family: "Lora";
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2F70D9;
  line-height: 1.28;
}
@media (min-width: 77.5em) {
  .header-title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .header-title {
    font-size: clamp( 1.875rem , 1.4402173913rem  +  2.1739130435vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .header-title {
    font-size: 1.875rem;
  }
}
.header-title::after {
  display: block;
  content: url("../img/wave-h-gray.svg");
  position: absolute;
  width: 130px;
  height: 10px;
  right: 4px;
}
@media (min-width: 77.5em) {
  .header-title::after {
    bottom: 5.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 77.5em) {
  .header-title::after {
    bottom: clamp( 4.1875rem , 1.9502118644rem  +  4.6610169492vw , 5.5625rem );
  }
}
@media (max-width: 48em) {
  .header-title::after {
    bottom: 4.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .header-title::after {
    content: url("../img/wave-h-gray-mobile.svg");
    width: 60px;
    height: 4px;
    right: 2px;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .header-title::after {
    bottom: 4.8125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
  .header-title::after {
    bottom: clamp( 3.4375rem , 2.4531599553rem  +  4.9217002237vw , 4.8125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header-title::after {
    bottom: 3.4375rem;
  }
}
@media (min-width: 77.5em) {
  .header-title_popup {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .header-title_popup {
    font-size: clamp( 1.25rem , 0.597826087rem  +  3.2608695652vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .header-title_popup {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .header-title_popup::after {
    bottom: 4.0625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
  .header-title_popup::after {
    bottom: clamp( 2.1875rem , 0.8452181208rem  +  6.711409396vw , 4.0625rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header-title_popup::after {
    bottom: 2.1875rem;
  }
}

.header {
  background-color: #FFFFFF;
  position: relative;
}
@media (max-width: 47.99875em) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 3;
  }
}
.header__content {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .header__content {
    padding-top: 20px;
  }
}
.header__logo {
  cursor: pointer;
}
.header__logo svg {
  width: 160px;
  height: 40px;
}
@media (max-width: 47.99875em) {
  .header__logo {
    z-index: 10;
  }
  .header__logo svg {
    width: 108px;
    height: 27px;
  }
}
.header__callback {
  margin-left: 50px;
}
@media (max-width: 61.99875em) {
  .header__callback {
    margin-left: 30px;
  }
}
@media (max-width: 47.99875em) {
  .header__callback {
    margin-left: 0;
    margin-top: 40px;
  }
}
.header__contact {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__contact {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.menu__body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
}
@media (max-width: 61.99875em) {
  .menu__body {
    margin-left: 30px;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100vh;
    left: 0;
    background-color: #fff;
    margin-left: 0;
    padding: 87px 24px 40px 24px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: top 0.3s ease-in-out;
    z-index: 2;
  }
  .menu-open .menu__body {
    top: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
}
@media (max-width: 61.99875em) {
  .menu__list {
    column-gap: 20px;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.menu__link {
  display: block;
  position: relative;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  letter-spacing: 0.03em;
  color: #686868;
  text-align: center;
  white-space: nowrap;
}
.menu__link::after {
  display: block;
  content: attr(data-title);
  font-weight: 800;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 9px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
  background-image: url("../img/wave.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.menu__link_active {
  font-weight: 800;
  color: #2F70D9;
}
.menu__link_active::before {
  width: 110%;
  opacity: 1;
}
@media (any-hover: hover) {
  .menu__link:hover {
    font-weight: 800;
    color: #2F70D9;
  }
  .menu__link:hover::before {
    opacity: 1;
    width: 110%;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    text-align: left;
  }
  .menu__link::before {
    width: 97px;
    left: auto;
    bottom: auto;
    top: 50%;
    right: -30px;
    transform: translate(100%, -50%);
  }
  .menu__link_active::before {
    width: 97px;
    opacity: 1;
  }
}
@media (max-width: 47.99875em) and (any-hover: hover) {
  .menu__link:hover::before {
    width: 97px;
    left: auto;
    bottom: auto;
    top: 50%;
    right: -30px;
    transform: translate(100%, -50%);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu::after, .icon-menu::before {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .icon-menu::after {
    background-image: url("../img/burger_active.svg");
    transform: scale(0);
  }
  .icon-menu::before {
    background-image: url("../img/burger.svg");
    transform: scale(1);
  }
  .menu-open .icon-menu::before {
    transform: scale(0);
  }
  .menu-open .icon-menu::after {
    transform: scale(1) rotate(360deg);
  }
}

.footer {
  background-color: #282828;
}
.footer__container {
  padding-top: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
@media (max-width: 47.99875em) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}
@media (min-width: 77.5em) {
  .footer__logo img {
    width: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .footer__logo img {
    width: clamp( 6.75rem , 5.1847826087rem  +  7.8260869565vw , 11.25rem );
  }
}
@media (max-width: 20em) {
  .footer__logo img {
    width: 6.75rem;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 61.99875em) {
  .footer__nav {
    display: none;
  }
}
.footer__fast-connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 47.99875em) {
  .footer__fast-connect {
    align-items: center;
    gap: 15px;
  }
}
.footer__to-top {
  padding-top: 74px;
}
@media (max-width: 47.99875em) {
  .footer__to-top {
    display: none;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 47.99875em) {
  .footer__contact {
    align-items: center;
    gap: 10px;
  }
}
.footer__contect-body {
  /***************************/
  /*************************/
}
@media (max-width: 47.99875em) {
  .footer__contect-body {
    align-items: center;
    text-align: center;
  }
}
.footer__contect-body .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__contect-body .contact__address-title {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer__contect-body .contact__address-text {
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 5px;
}
.footer__contect-body .contact__phones {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__contect-body .contact__phone {
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer__contect-body .contact__social {
  display: flex;
  gap: 10px;
}
.footer__contect-body .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
}
.footer__contect-body .social_vider {
  background-color: #C652EE;
  background-image: url("../img/viber.svg");
}
.footer__contect-body .social_watsapp {
  background-color: #A7D91A;
  background-image: url("../img/watss.svg");
}
.footer__allright {
  font-family: "Lora";
  font-size: 1rem;
  line-height: 1.25;
  color: #FFFFFF;
  text-align: center;
}

.footer-header {
  font-family: "Lora";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #2F70D9;
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.menu-footer__link {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.btn_footer {
  width: 210px;
  height: 40px;
  background: #D95845;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.callback_footer {
  width: 210px;
  height: 40px;
  border: 2px solid #2F70D9;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2F70D9;
}

.to-top {
  width: 40px;
  height: 40px;
  background-image: url("../img/arrow-top.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.home-block__container {
  padding-top: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 27px;
  margin-bottom: 50px;
}
@media (max-width: 47.99875em) {
  .home-block__container {
    padding-top: 60px;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 0;
  }
}
.home-block__boby {
  flex: 1 0 497px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 47.99875em) {
  .home-block__boby {
    flex-basis: auto;
    row-gap: 20px;
  }
}
.home-block__text {
  line-height: 1.4375;
  font-size: 1rem;
  line-height: 1.4375;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #686868;
}
@media (min-width: 77.5em) {
  .home-block__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__text {
    font-size: clamp( 0.75rem , 0.6630434783rem  +  0.4347826087vw , 1rem );
  }
}
@media (max-width: 20em) {
  .home-block__text {
    font-size: 0.75rem;
  }
}
.home-block__header {
  position: relative;
  font-family: "Lora";
  font-size: 8.1875rem;
  line-height: 1.2824427481;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
@media (min-width: 77.5em) {
  .home-block__header {
    font-size: 8.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__header {
    font-size: clamp( 3.75rem , 2.2065217391rem  +  7.7173913043vw , 8.1875rem );
  }
}
@media (max-width: 20em) {
  .home-block__header {
    font-size: 3.75rem;
  }
}
.home-block__header span {
  position: absolute;
  top: 2px;
  line-height: 1.0666666667;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: -0.003em;
  text-transform: uppercase;
  color: #686868;
}
@media (min-width: 77.5em) {
  .home-block__header span {
    left: 18.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__header span {
    left: clamp( 9.25rem , 5.9456521739rem  +  16.5217391304vw , 18.75rem );
  }
}
@media (max-width: 20em) {
  .home-block__header span {
    left: 9.25rem;
  }
}
@media (min-width: 77.5em) {
  .home-block__header span {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__header span {
    font-size: clamp( 0.75rem , 0.3586956522rem  +  1.9565217391vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .home-block__header span {
    font-size: 0.75rem;
  }
}
.home-block__header span::after {
  display: block;
  content: url("../img/wave-h.svg");
  position: absolute;
  width: 39px;
  height: 3px;
}
@media (min-width: 77.5em) {
  .home-block__header span::after {
    right: 0.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__header span::after {
    right: clamp( 0rem , -0.1086956522rem  +  0.5434782609vw , 0.3125rem );
  }
}
@media (max-width: 20em) {
  .home-block__header span::after {
    right: 0rem;
  }
}
@media (min-width: 77.5em) {
  .home-block__header span::after {
    bottom: 3.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .home-block__header span::after {
    bottom: clamp( 1.5rem , 0.847826087rem  +  3.2608695652vw , 3.375rem );
  }
}
@media (max-width: 20em) {
  .home-block__header span::after {
    bottom: 1.5rem;
  }
}
.home-block__img {
  flex: 1 1 706px;
}
.home-block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .home-block__img {
    flex-basis: auto;
  }
}

/****************************************************************************************/
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  row-gap: 40px;
}
@media (max-width: 61.99875em) {
  .about__container {
    row-gap: 0;
  }
}
@media (max-width: 47.99875em) {
  .about__container {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
.about__content {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
@media (max-width: 47.99875em) {
  .about__content {
    flex-direction: column;
    row-gap: 20px;
  }
}
.about__text {
  flex: 0 1 390px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 1.4375;
  letter-spacing: 0.03em;
  color: #686868;
}
@media (min-width: 77.5em) {
  .about__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .about__text {
    font-size: clamp( 0.75rem , 0.6630434783rem  +  0.4347826087vw , 1rem );
  }
}
@media (max-width: 20em) {
  .about__text {
    font-size: 0.75rem;
  }
}
.about__text :nth-last-child(2) {
  flex-grow: 1;
}
@media (max-width: 61.99875em) {
  .about__text {
    padding-top: 20px;
    flex: 0 0 50%;
  }
}
@media (max-width: 47.99875em) {
  .about__text {
    padding-top: 30px;
  }
}
.about__decore {
  width: 97px;
  height: 9px;
  object-fit: cover;
  align-self: flex-start;
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 47.99875em) {
  .about__img {
    flex-basis: auto;
  }
}

/*********************************************************************************************/
.projection__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 47.99875em) {
  .projection__container {
    padding-bottom: 0;
  }
}
.projection__grid {
  width: 100%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 237px);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  align-items: start;
  justify-content: space-between;
}
@media (min-width: 77.5em) {
  .projection__grid {
    padding-left: 6.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 77.5em) {
  .projection__grid {
    padding-left: clamp( 0rem , -10.6779661017rem  +  22.2457627119vw , 6.5625rem );
  }
}
@media (max-width: 48em) {
  .projection__grid {
    padding-left: 0rem;
  }
}
@media (min-width: 77.5em) {
  .projection__grid {
    padding-right: 6.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 77.5em) {
  .projection__grid {
    padding-right: clamp( 0rem , -10.6779661017rem  +  22.2457627119vw , 6.5625rem );
  }
}
@media (max-width: 48em) {
  .projection__grid {
    padding-right: 0rem;
  }
}
@media (max-width: 61.99875em) {
  .projection__grid {
    grid-template-columns: repeat(3, 220px);
    gap: 30px;
  }
}
@media (max-width: 47.99875em) {
  .projection__grid {
    padding: 40px 0px 0px 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 29.99875em) {
  .projection__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.acticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}
@media (any-hover: hover) {
  .acticle:hover {
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #686868;
  }
}
@media (max-width: 29.99875em) {
  .acticle:last-child {
    grid-area: 5/1/6/3;
    width: 136px;
    justify-self: center;
  }
}
.acticle__img {
  width: 75px;
}
@media (min-width: 77.5em) {
  .acticle__img {
    width: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .acticle__img {
    width: clamp( 2.25rem , 1.402173913rem  +  4.2391304348vw , 4.6875rem );
  }
}
@media (max-width: 20em) {
  .acticle__img {
    width: 2.25rem;
  }
}
.acticle__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.acticle__title {
  margin-top: 20px;
  font-family: "Lora";
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2F70D9;
  text-align: center;
}
@media (min-width: 77.5em) {
  .acticle__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .acticle__title {
    font-size: clamp( 0.75rem , 0.5760869565rem  +  0.8695652174vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .acticle__title {
    font-size: 0.75rem;
  }
}
.acticle__text {
  margin-top: 10px;
  line-height: 1.4285714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #686868;
}
@media (min-width: 77.5em) {
  .acticle__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .acticle__text {
    font-size: clamp( 0.625rem , 0.5380434783rem  +  0.4347826087vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .acticle__text {
    font-size: 0.625rem;
  }
}

/************************************************************************/
.rooms__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 80px;
}
@media (max-width: 61.99875em) {
  .rooms__container {
    gap: 40px;
  }
}
@media (max-width: 47.99875em) {
  .rooms__container {
    padding-bottom: 0;
    gap: 30px;
  }
}
.rooms__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 61.99875em) {
  .rooms__content {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .rooms__content {
    gap: 20px;
  }
}
@media (max-width: 29.99875em) {
  .rooms__content {
    gap: 10px;
  }
}
.rooms__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 61.99875em) {
  .rooms__block {
    gap: 50px;
  }
}
.rooms__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 29.99875em) {
  .rooms__img {
    display: none;
  }
}
.rooms__item {
  flex-basis: 285px;
}

.room {
  max-width: 285px;
  padding: 40px 30px;
  background: #FFFFFF;
  border: 3px solid #2F70D9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 29.99875em) {
  .room {
    width: 100%;
  }
}
.room__img img {
  object-fit: contain;
}
.room__title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #2F70D9;
  white-space: nowrap;
}
.room__items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 13px;
}
.room__list {
  padding-left: 30px;
  position: relative;
  font-size: 16px;
  line-height: 141.18%;
  /* identical to box height, or 23px */
  letter-spacing: 0.03em;
  color: #686868;
}
.room__list::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #686868;
}
.room__price-block {
  text-align: center;
}
.room__price-title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
.room__price {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Lora";
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #D95845;
}
.room__price :first-child {
  font-size: 25px;
  line-height: 32px;
}
.room__price :last-child {
  font-size: 20px;
  line-height: 26px;
}
.room__del {
  display: block;
  width: 2px;
  height: 25px;
  background-color: #D95845;
  transform: rotate(20deg);
}

/**************************************************************************/
.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 80px;
}
@media (max-width: 61.99875em) {
  .reviews__container {
    gap: 40px;
  }
}
@media (max-width: 47.99875em) {
  .reviews__container {
    padding-bottom: 0;
    gap: 30px;
  }
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-self: center;
}
@media (max-width: 61.99875em) {
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.review {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 25px;
}
@media (max-width: 47.99875em) {
  .review {
    gap: 20px;
  }
}
@media (max-width: 29.99875em) {
  .review {
    gap: 15px;
    max-width: 100%;
  }
}
.review__avatar {
  width: 100px;
  height: 100px;
  background: #BEBEBE;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.review__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 61.99875em) {
  .review__avatar {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 47.99875em) {
  .review__avatar {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 29.99875em) {
  .review__avatar {
    width: 60px;
    height: 60px;
  }
}
.review__name {
  font-family: "Lora";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #2F70D9;
}
.review__text {
  line-height: 141.18%;
  letter-spacing: 0.03em;
  color: #686868;
}
@media (min-width: 77.5em) {
  .review__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.5em) {
  .review__text {
    font-size: clamp( 0.75rem , 0.6630434783rem  +  0.4347826087vw , 1rem );
  }
}
@media (max-width: 20em) {
  .review__text {
    font-size: 0.75rem;
  }
}
.review__date {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 141.18%;
  letter-spacing: 0.03em;
  color: #686868;
}
.review__del {
  width: 15px;
  height: 0px;
  border: 1px solid #686868;
  border-radius: 4px;
  border-bottom: none;
}

/**************************************************************/
.contacts__container {
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 80px;
}
@media (max-width: 47.99875em) {
  .contacts__container {
    padding-bottom: 5px;
  }
}
.contacts__map {
  position: relative;
}
.contacts__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
@media (max-width: 47.99875em) {
  .contacts__img img {
    transform: translateX(-56px);
  }
}
@media (max-width: 29.99875em) {
  .contacts__img {
    height: 270px;
  }
  .contacts__img img {
    object-fit: cover;
    height: 150%;
    transform: translateX(-56px) translateY(-67px);
  }
}
.contacts__block {
  position: absolute;
  top: 34px;
  left: 75px;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 32px 48px;
  max-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
@media (max-width: 61.99875em) {
  .contacts__block {
    left: 30px;
  }
}
@media (max-width: 47.99875em) {
  .contacts__block {
    position: relative;
    max-width: 100%;
    top: 0;
    left: 0;
    margin-top: 30px;
  }
}
